name: medical_question_answering
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyter
  - ipykernel
  - tqdm
  - pip
  - pip:
    - transformers
    - sentence-transformers
    - faiss-cpu
    - bitsandbytes
    - accelerate
    - peft
    - datasets
